.background-image {
  /* Adjust the path to your image */
  /*background-image: url('/bklogo.jpeg');*/
  height: 100vh; /* Full viewport height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Darkening the background image */
  filter: brightness(50%);
}

.centered-text {
  color: white; /* Ensuring text is visible */
  font-size: 12rem;
  text-align: center;
  width: 100%; /* Full width of the div */
}